* {
  margin: 0;
  padding: 0;
  transition: 0;
  overflow: hidden;
  font-family: sans-serif;
}
logo img {
  width: 100px;
  cursor: pointer;
}
.container-fluid {
  width: 100%;
  height: 100vh;
  background:
    linear-gradient(to left, rgba(0, 0, 0, 0.4)),
    url(/img/delivery_trucks.jpg) center/cover;
  background-repeat: no-repeat;
}
.container {
  width: 1200px;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  margin-right: 30px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
}
.active {
  color: #f86a06;
}
.btn {
  width: 120px;
  height: 45px;
  border-radius: 8px;
  border: none;
  color: #f86a06;
  cursor: pointer;
  font-size: 14px;
  text-transform: capitalize;
}
.btn:hover {
  background: #f86a06;
  color: white;
}
.content {
  width: 1200px;
  height: 100vh;
  margin: auto;
}
.content h3 {
  color: white;
  padding-top: 100px;
  font-weight: 600;
}
.content h1 {
  color: #f86a06;
  text-transform: uppercase;
  max-width: 600px;
  font-size: 82px;
  margin-top: 6px;
  line-height: 90px;
  font-weight: 600;
}
.content p {
  color: white;
  font-size: 16px;
  max-width: 510px;
  margin-top: 6px;
  margin-bottom: 20px;
  line-height: 20px;
  letter-spacing: 1px;
}
.content .btn {
  margin-top: 6px;
  width: 150px;
  height: 50px;
  font-size: 16px;
  letter-spacing: 1px;
}
.content .btn2 {
  background: transparent;
  border: 1px solid #f86a06;
  color: white;
  border-radius: 8px;
  margin-left: 10px;
}
.content .btn2:hover {
  background: #f86a06;
}
